
*{
			margin: 0;
			padding: 0;
		}
		a{
			text-decoration:none;
			color: #fff;
		}
		ul{
			list-style: none;	
		}
		body{
			font-family: arial,"Microsoft Yahei",sans-serif;
			width: 100%;
			height: 100%;
			background: #fbfaf8;
		}

   		/*~~~内容区~~~*/
		#content {
			min-width: 975px;
			margin-bottom: 10px;
			position: relative;
			margin: 0 auto;
			max-width: 1130px;
			text-align: left;
			/*overflow: hidden;*/
		}
		#content:after {
			content: "";
			display: block;
			clear: both;
		}
		/*~~~广告~~~*/
		.speedbar { 
			min-width: 975px;
			background-image: url(../images/volume.png);
			background-position: 1% 50%;
			background-repeat: no-repeat;
			clear: both;
			overflow: hidden;
			margin-bottom: 10px;
			padding: 8px 20px 18px;
			height: 15px;
			/*background-color: #fff;*/
			color: #666;
			line-height: 25px;
		}
		#callboard ul {
		    margin-left: 15px;
		    overflow: hidden;
		    height: 70px;
		}
		#callboard li {
		    margin-bottom: 10px;
		    overflow: hidden;
		    height: 25px;
		}

		/*~~~books~~~*/
		#books{
			min-width: 975px;
			display: flex;
		}
		.books-wrap {
			flex:4;
			min-width: 616px;
		    float: left;
		    height: 100%;
		}
		/*~~~books-top~~~*/
		.books-top p{
			height: 30px;
			line-height: 30px;
		}
		.books-top span{
			margin-left:10px;
		}
		.books-top a{
			margin-left:10px;
			color: orange;
		}
		#books-top-name{
			color: #a4a4a4;
			font-weight: 400;
		}
		
		/*~~~books-content~~~*/
		.kong{
			margin-left: 45px;
		}
		.books-content{
			margin: 30px auto 30px 0px;
		}
		.books-box{
			/*font-size: 0;*/
		}
		.books-box>div{
			vertical-align: top;
			display: inline-block;
		}
		.books-box-img img{
			width: 180px;
			height: 240px;
		}
		.books-box-content{
			margin-top: 5px;
			margin-left: 20px;
		}
		.books-box-name{
			height: 40px;
		}
		.books-box-name h1{
			font-size: 20px;
			color: #333;
			font-weight: bold;
		}
		.books-box-star{

		}
		.books-box-star h3{
			font-size: 20px;
			color: #666;
		}
		.star{
			height: 20px;
			background: url(../images/star.png) no-repeat;
		}
		.star01{
			background-position: 0px 0px;
		}
		.star-fen,.star-ren,.star-class{
			height: 30px;
			line-height: 30px;
			font-size: 15px;
			color: #666;
			font-weight:900;
		}
		.button{
			display: inline-block;
			padding: 0 10px;
			height: 30px;
			border: 1px solid #ccc;
			text-align: center;
			border-radius: 5px;
			cursor: pointer;
			background: #efefef;
		}
		.books-box-tui{
			height: 57px;
			padding-top: 23px;
			box-sizing:border-box;
		}
		.books-box-tui>div{
			vertical-align: top;
		}
		.box-tui{
			border: 1px solid orange;
			background: orange;
			line-height: 30px;
		}
		.box-shou{
			line-height: 30px;
		}
		/*~~~下载~~~~*/
		 .books-download p a{
			color: #333;
			cursor: pointer;
		 }
		.books-download table{
			color: #333;
			display: table-row-group;
		    vertical-align: middle;
		     border-collapse: collapse;
		    border:1px solid #cad9ea;
		    
		}
		 .books-download table td{
			color: #333;
    		padding: 0 1em 0;
    		background-repeat: repeat-x;
    		height: 30px;
    		font-weight: normal;
		    font-style: normal;
		    text-align: left;
		    width: 121px;
		    border:1px solid #cad9ea;
		 }
		 .upload-header{
		 	color: #fff;
		 	width: 694px;
		 	box-sizing:border-box;
		 	padding: 5px 10px;
		 	background: rgba(0,0,0,0.7);
		 }
		 .upload-content-top{
		 	display: flex;
		 	width: 678px;
		 	border-top: 1px solid #EEE;
		    border-bottom: 1px solid #CDCDCD;
		    height: 24px;
		    font-size: 16px;
		    background: #DFDFDF;
		    padding: 8px 8px;
		    color: #42454A;
		 }
		 .upload-content-top>div:nth-child(1){
		 	flex:5;
		 }
		 .upload-content-top>div{
		 	flex:1;
		 }
		 .upload-user{
			background: #f5f5f5 none repeat scroll 0 0;
		    height: 35px;
		    width: 694px;
		    overflow-y: scroll;
		 }
		 .upload-user li{
			background: transparent;
		    text-align: center;
		    vertical-align: middle;
		    border: 0;
		    line-height: 165px;
		 }
		.upload-content-footer>div{
			line-height: 30px;
		}
		.upload-content-top .button01{
			color: #fff;
			background: orange;
		}
		.upload-button{
			height: 35px;
			margin-top: -3px;
		}
		.button01{
			display: inline-block;
			padding: 0 10px;
			height: 30px;
			border: 1px solid #ccc;
			text-align: center;
			border-radius: 5px;
			cursor: pointer;
			background: #efefef;
		}
		.books-brief{
			width: 694px;
		}
		.books-brief-header{
			position: relative;
		    height: 38px;
		    line-height: 38px;
		    border-bottom: 1px solid #dbd4cd;

		}
		.books-brief-header h5{
			display: inline-block;
			padding: 0 18px;
		}
		#s-i{
			width: 10px;
			height: 10px;
			border-top: 1px solid #dbd4cd;
			border-left: 1px solid #dbd4cd;
			position: absolute;
			top: 33px;
    		left: 25px;
    		background: #fbfaf8;
			transform:rotate(45deg);
		}
		.books-brief-content{
			margin-bottom: 20px;
		    padding-top: 20px;
		    font-size: 14px;
		    color: #666;
		    line-height: 28px;
		    padding: 24px 16px;
		}

		/*~~~侧栏~~~~*/
		.sidebar {
			flex: 1;
		    margin-left: 10px;
		    position: relative;
		    width: 300px;
		}
		.sidebar-two{
			text-align: center;
		    clear: both;
		    height: 40px;
		    margin-bottom: 10px;
		    background-color: #fff;
		}
		.sidebar-two ul{
			height: 40px;
			display: flex;
		}
		.sidebar-two li{
			position: relative;
			height: 40px;
			flex:1;
			display: inline-block;
			border-right:1px solid #eee;
			background-image: url(../images/sns.png);
			background-repeat:no-repeat;
		}
		
		.sidebar-two-box{
			display: none;
			position: absolute;
			bottom: -185px;
			left:-36.3px;
			width: 181px;
			height: 191px;
		}
		.sidebar-two-i{
			width:0;
		    height:0;
		    border-width:0 10px 10px;
		    border-style:solid;
		    margin:0px auto;
		    position:relative;
		}
		.sidebar-two-content{
			width: 181px;
			height: 181px;
			border:3px solid #3cb034;
			box-sizing: border-box;
			background-color: #ccc;
			overflow: hidden;
		}
		.sidebar-two-content img{
			width: 100%;
		}
		.i-1 .sidebar-two-i{
		    border-color:transparent transparent #3cb034;/*透明 透明  灰*/
		}
		.i-1 .sidebar-two-content{
			border:3px solid #3cb034;
		}
		.i-1:hover .sidebar-two-box{
			display: block;
		}
		
		.i-2 .sidebar-two-i{
		    border-color:transparent transparent orange;/*透明 透明  灰*/
		}
		.i-2 .sidebar-two-content{
			border:3px solid orange;
		}
		.i-2:hover .sidebar-two-box{
			display: block;
		}
		.i-2 .sidebar-two-box{
			left:-42.3px;
		}

		.i-3 .sidebar-two-i{
		    border-color:transparent transparent red;/*透明 透明  灰*/
		}
		.i-3 .sidebar-two-content{
			border:3px solid red;
		}
		.i-3:hover .sidebar-two-box{
			display: block;
		}
		.i-3 .sidebar-two-box{
			left:-42.3px;
		}

		.i-1{
			background-position: center 0px;
		}
		.i-2{
			background-position: center -84px;
		}
		.i-3{
			background-position: center -168px;
		}

		.i-1:hover{
			background-position: center -42px;
		}
		.i-2:hover{
			background-position: center -126px;
		}
		.i-3:hover{
			background-position: center -210px;
		}
		.sidebar-entry{
			text-align: center;
			clear: both;
			height: 200px;
			padding: 50px;
			box-sizing: border-box;
		    margin-bottom: 10px;
		    background-color: #fff;
		    box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.5);
		}
		.sidebar-entry h1{
			color: #6a6f77;
		    width: 200px;
		    height: 33px;
		    padding-top: 10px;
			margin-bottom: 10px;
		}
		.entry-button{
 			padding-top: 10px;
		}
		.entry-button input{
			font-size: 1.4em;
		    width: 90px;
		    height: 35px;
		    border-radius: 4px;
		    border: 1px solid #c8cccf;
		    color: #6a6f77;
		    outline: 0;
		}
		.entry-button input:hover{
			background:orange;
			color:#fff;
			border:1px solid orange;
		}
		
		.sidebar-tui{
			text-align: center;
			height: 48px;
			line-height: 48px;
			box-sizing: border-box;
		    margin-bottom: 10px;
		    background-color: #fff;
		}
		.sidebar-tui a{
			display: inline-block;
		    width: 147px;
		    height: 48px;
		    background-image: url(../images/booksx.png);
		}
		.tui-t{
			background-position: 0px 0px;
		}
		.tui-t:hover{
			background-position: 0px -48px;
		}
		.tui-b{
			background-position: 0px -96px;
		}
		.tui-b:hover{
			background-position: 0px 48px;
		}
		.Kindle{
			text-align: left;
			padding: 20px;
			box-sizing: border-box;
		    margin-bottom: 20px;
		    background-color: #fff;
		}
		.Kindle #Kindle-box{
			display: flex;
		}
		.Kindle .Kindle-content li{
			flex: 1;
		}
		.Kindle .Kindle-content a{
			display: inline-block;
			width: 68px;
			height: 80px;
			line-height: 142px;
			background-repeat:no-repeat;
			background-position: 15px 10px;
			overflow: hidden;
			color: #444;
			text-align: center;
		}
		.goodwill-speedbar{
			background-image: url(../images/heart.png);
			background-position: 2% 50%;
			background-size: 25px;
			background-repeat: no-repeat;
			clear: both;
			overflow: hidden;
			margin-bottom: 10px;
			padding: 8px 20px 18px;
			height: 15px;
			background-color: rgba(255,192,203,0.5);
			color: #666;
			line-height: 25px;
			box-shadow:0px 3px 10px -2px rgba(0,0,0,0.5);
		}
		.goodwill-speedbar ul {
		    margin-left: 25px;
		    overflow: hidden;
		    height: 70px;
		}
		.goodwill-speedbar li {
		    margin-bottom: 10px;
		    overflow: hidden;
		    height: 25px;
		}
		.goodwill-speedbar li span{
			margin-right: 15px;
			text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		}
		.goodwill-ai a{
			font-size: 13px;
			color: red;
		}
		#books-two{
			display: flex;
			margin-bottom: 10px;
		}
		.books-two-top{
			background: #fff;
			height: 40px;
			line-height: 40px;
			padding: 0 0 0 10px;
			margin-bottom: 10px;
			display: flex;
			box-sizing: border-box;
			width: 100%;
		}
		.books-two-top-left{
			flex: 1;
		}
		.books-two-top-left h1{
			display: inline-block;
			width: 100px;
			font-size: 20px;
			margin-left: 0;
		}
		.books-two-top-left a{
			display: inline-block;
			text-align: right;
			color: orange;
			margin-right: 0;
		}
		.books-two-top-right{
			flex: 1;
			text-align: right;
			text-align: -webkit-right;
			text-align:-moz-center
		}
		.books-two-top-right ul{
			border-right:1px solid #eee;
			width: 200px;
			height: 40px;
			display: flex;
		}
		.books-two-top-right ul li{
			border-left:1px solid #eee;
			flex: 1;
			height: 40px;
		}
		#books-two-contentsm{
			overflow: hidden;
			background-color: #fff;
			position: relative;
		}
		#books-two-cardslist{
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			position: relative;
			width: 300%
		}
		#books-two-cardslist .col-a{
			font-size: 12px;
		    position: absolute;
		    top: 8;
		    left: 0;
		    padding: 5px 5px;
		    width: 60px;
		    text-align: center;
		    background: #333;
		    opacity: .8;
    		color: #fff;
		}
		#books-two-cardslist>div{
			flex: 1;
			display: flex;
		}
		#books-two-cardslist .btc1{
			flex: 1;
			background-color: #f4f2ef;
			margin: 10px;
			box-sizing: border-box;
			padding: 2% 2%;
		}
		.btc1-box{
			height: 167px;
		}
		.btc1-left{
			vertical-align: top;
			display: inline-block;
			box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.5);
		}
		
		.btc1-right h1{
			line-height: 50px;
			font-size: 20px;
		}
		.btc1-right p{
			word-break:break-all;
			font-size: 13px;
			line-height: 20px;
		}
		
		.btc1-right02{
			height: 100%;
			width: 149px;
			vertical-align: top;
			display: inline-block;
		}
		
		@media screen and (max-width:1023px) {
			.btc1-right02{
				height: 100%;
				width: 130px;
				vertical-align: top;
				display: inline-block;
			}
		}
		#books-three{
			
		}
		.books-three-content{
			display: flex;
		}
		#books-three-contentsm{
			flex:4;
		    float: left;
		}
		#books-three-contentsm img{
			width: 126px;
			height: 167px;
		}
		#books-three-contentsm .col-a{
			font-size: 12px;
		    position: absolute;
		    top: 8;
		    left: 0;
		    padding: 5px 5px;
		    width: 60px;
		    text-align: center;
		    background: #333;
		    opacity: .8;
    		color: #fff;
		}
		.books-three-sidebar{
			width: 240px;
			background: #f4f2ef;
		}
		.sidebar-top{
			position: relative;
			display: flex;
			margin: 0 auto;
			width: 200px;
			
		}
		.sidebar-top>div{
			height: 39px;
			line-height: 39px;
			text-align: center;
			box-sizing:border-box;
		}
		.sidebar-content{
			margin: 0 auto;
			width: 200px;
		}
		.sidebar-content a{
			 color: #333;
		}
		#books-three ul{
			margin-bottom:20px;
		}
		#books-three ul li{
			margin-top:20px;
		}
		#books-three ul li div{
			vertical-align: top;
			display: inline-block;
		}
		#books-three ul li div a{
			display: block;
			margin-bottom: 5px;
		}
		#sidebar-month{
			display: none;
		}
		.u-taglist {
		    margin-bottom: 30px;
		}
		.u-ttl1 {
		    position: relative;
		    margin-bottom: 15px;
		    margin-top: 15px;
		    line-height: 32px;
		}
		.u-taglist li {
		    margin: 0 8px 6px 0;
		}
		.u-taglist a {
		    color: #613f23;
		    text-decoration: none;
		    background: #ebe7e3;
		    padding: 0 10px;
		    border-radius: 3px;
		}
		.u-taglist li, .u-taglist a {
		    float: left;
		    height: 24px;
		    line-height: 24px;
		    white-space: nowrap;
		}
