/*
 * Title: Pure CSS3 Backend Panel
 * Author: Clear
 * Version: 1.0.0
 * Create: 2015-06-05
 * Update: 2015-06-05
 */
 /* CSS Reset */

* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	outline: none;
	font-weight: normal;
}

body {
	background: #fbfaf8;
	font-family: "Segoe UI","Microsoft YaHei";
}

a {
	color: #000;
	text-decoration: none;
}

header {
	color: #fff;
	text-align: center;
	/*min-height: 140px;*/
	margin-bottom: 60px;
}

header h1{
	/*margin-top: 100px;*/
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: 100;
}

header a{
	font-size: 18px;
	margin-left: 20px;
}


.copyright {
	font-size: 25px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin: 100px 0;
}

.copyright a {
	color: #fff;
}
.pb30{padding-bottom: 30px;}
.fl {
	float: left
}

.fr {
	float: right
}

.ease {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Backend Panel Start */

.clear-backend {
	background: #fff;
	width: 100%;
	height: 840px;
	position: relative;
}

.avatar {
	background: #f0f0f0;
	width: 200px;
	height: 60px;
}

.avatar div {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	top: 25px;
	left: 25px;
}

.avatar div img {
	width: 100%;
	height: auto;
}

.clear-backend > input {
	position: absolute;
	filter: alpha(opacity=0);
	opacity: 0;
}

.clear-backend > input:hover {
	cursor: pointer;
}

.clear-backend > input:hover + span,
.clear-backend > input:checked + span {
	background: #fff;
	color: #1ABC9C;
}
.clear-backend > input:checked + span + i {
	color: #1ABC9C;
}

.clear-backend > i {
	position: absolute;
	margin-top: -40px;
	padding: 0 20px;
	font-size: 20px;
}

.clear-backend > span,
.clear-backend > i {
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.clear-backend > input,
.clear-backend > span {
	background: #f0f0f0;
	display: block;
	width: 200px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	z-index: 9;
}

.top-bar {
	background: #f0f0f0;
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 200px);
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	z-index: 9;
}

.top-bar li {
	float: right;
}

.top-bar a {
	display: block;
	padding: 0 20px;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.top-bar a:hover {
	color: #1ABC9C;
}

.top-bar li:hover {
	background: #fff;
}

.tab-content {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 200px);
	height: 100%;
	padding-top: 60px;
	overflow: hidden;
}

.tab-content section {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: none;
	background: #fff;
}

.clear-backend > input.tab-1:checked ~ .tab-content .tab-item-1 {
	display: block;
}

.clear-backend > input.tab-2:checked ~ .tab-content .tab-item-2 {
	display: block;
}

.clear-backend > input.tab-3:checked ~ .tab-content .tab-item-3 {
	display: block;
}

.clear-backend > input.tab-4:checked ~ .tab-content .tab-item-4 {
	display: block;
}

.clear-backend > input.tab-5:checked ~ .tab-content .tab-item-5 {
	display: block;
}

.clear-backend > input.tab-6:checked ~ .tab-content .tab-item-6 {
	display: block;
}

.clear-backend > input.tab-7:checked ~ .tab-content .tab-item-7 {
	display: block;
}

.clear-backend > input.tab-8:checked ~ .tab-content .tab-item-8 {
	display: block;
}

.clear-backend > input.tab-9:checked ~ .tab-content .tab-item-9 {
	display: block;
}

.clear-backend > input.tab-10:checked ~ .tab-content .tab-item-10 {
	display: block;
}


/* Responsive */

@media screen and (max-width: 1367px) {
}

@media screen and (max-width: 1281px) {
}

@media screen and (max-width: 1025px) {
}

@media only screen and (max-width: 961px) {
}

@media only screen and (max-width: 641px) {
	.avatar, 
	.clear-backend > input,
	.clear-backend > span {
		width: 60px;
		height: 60px;
	}
	.clear-backend > span {
		filter: alpha(opacity=0);
		opacity: 0;
	}
	.avatar div {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		top: 5px;
		left: 5px;
	}
	.top-bar,
	.tab-content {
	width: calc(100% - 60px);
	}
}

@media only screen and (max-width: 481px) {
}

#tab-item-0{
	display: block;
}
/* section */
#t-1-c{
	margin: 20px auto;
	display: block;
	width: 500px;
}
#t-1-c li{
	display: block;
	height: 50px;
	line-height: 50px;
}
#foo h1,#foo h5{
	display: inline-block;
	width: 80px;
}
.t-2-t, .t-2-f,.t-3-t, .t-3-f{
	display: inline-block;
	vertical-align: top;
}
.t-2-col,.t-3-col{
	height: 150px;
	display: inline-block;
	padding: 10px;
	background: #9cd6ca;
	margin-bottom: 8px;
}
.t-2-col:hover{
	box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.6);
}
.t-3-col:hover{
	box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.6);
}
#t-2-c,#t-3-c{
	margin: 0 auto;
	height: 650px;
	width: 810px;
}
#t-2-c .t-2-t img,#t-3-c .t-3-t img{
	width: 100px;
	height: 130px;
}
.t-2-f-t,.t-3-f-t{
	height: 105px;
	padding:0 10px;
}
.t-2-f-f,.t-3-f-f{
	margin: 0 auto;
	padding:5px 0 15px 10px;
	border-top:1px solid #444;
	width: 105px;
}
.t-2-f-f span,.t-3-f-f span{
	width: 50%;
}
.t-2-f-t p,.t-3-f-t p{
	line-height: 30px;
}
.table-c tr td{
	border: 1px solid #eee;
	text-align: center;
}
.table-c table{
	width: 100%;
}
.table-c tr{
	height: 36px;
}
.t-t-n{
	width: 20%;
}
.t-t-p{
	width: 20%;
}
.table-c .table-title{
	background: #9cd6ca;
	height: 40px;
}
.table-c .table-content{
	background: #dbdbdb;
}
.table-content span{
	padding: 0 10px;
}
#t-c-6 table{
	margin: 200px auto;
	width: 500px;
}
#t-c-6 .t-6-l{
	width: 30%;
	text-align: right;
	padding-right:30px;
	margin-right: 10px;
}
#t-c-6 tr{
	height: 60px;
	width: 500px;
}
#tj input{
	width: 80px;
	height: 35px;
	border: 1px solid orange;
	background: orange;
}
/* bookfooter*/
.tab-item-2{
	position: relative;
}
.books-footer{
	position: absolute;
	bottom: 90px;
	left: calc(50% - 160px);
}
.pagination{
	max-width: 886px;
	height: 32px;
	padding: 20px 0 15px 0;
	display: inline-block;
}
.pagination ul{
	display: inline-block;
}
.pagination ul:after {
	content: "";
	display: block;
	clear: both;
}
.pagination li{
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0
}

.pagination li{
	float: left;
	margin: 0 3px;
	padding: 4px 12px 3px;
	background-color: #eee;
	color: #666;
	text-decoration: none;
	line-height: 20px;
}
.pagination a{
	color: #666;
}
.pagination .active{
	background: #333;
}
.pagination .p-mroe{
	background: #fff;
}


